@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #333, #333 1px, #e5e5f7 1px, #e5e5f7);
}

.nav {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: auto;
}

.nav__list {
    background-color: #000000;
    margin: auto;
    height: 100vh;
    width: 50%;
    max-height: 500px;
    max-width: 600px;
    list-style: none;
    line-height: 2;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #fff;
    margin: auto;
}

.nav__link:hover {
    color: #ff0000;
    transition: .5s;
}